!!! 5
html
  head
    title Bass Exercises
    link(href="http://fonts.googleapis.com/css?family=Droid+Sans", rel="stylesheet")
    link(href="css/styles.css", rel="stylesheet")
    script(src="js/scripts.js")
  body
    h1 Bass Exercises
    .exercise
      h2 Spider
      p Numbers below denote finger, not fret position.
      pre
        |G|------------1234--|
        |D|--------1234------|
        |A|----1234----------|
        |E|1234--------------|

    .exercise
      h2 Spider Permutation
      p Numbers below denote finger, not fret position.
      pre
        |G|------------4321--|
        |D|--------4321------|
        |A|----4321----------|
        |E|4321--------------|

    p Go through at least five finger combinations (1 is index, 4 is pinky). Examples include:
    ul
      li 1234
      li 4231
      li 1324
      li 1423
      li 2431
      li Etc.

    .exercise
      h2 Jaco Exercise
      pre
        |G|------------------|
        |D|--78--78--87--78--|
        |A|-5--55--57--58----|
        |E|------------------|
