!!! 5
html
  head
    title Bass Exercises
    link(href="http://fonts.googleapis.com/css?family=Droid+Sans", rel="stylesheet")
    link(href="css/styles.css", rel="stylesheet")
    script(src="js/scripts.js")
  body
    h1 Bass Exercises
    h2 Warmup (10 Min)
    p Strive for even, consistent tones. Try strumming 3 fingers as opposed to 2. Try a pick from time to time.
      |Remember to stretch before and after, and wipe the strings and body after use.
    .exercise
      h3 Fret Walk
      p Choose different finger permutations (1423, 2413, 4321) as you go through these exercises. Never repeat
        |the same permutation two days in a row!
      pre
        |G|-----------------------------|
        |D|-----------------------------|
        |A|-----------------------------|
        |E|123423453456456756786789789..|

    .exercise
      h3 Cross String
      p Again, choose different finger combinations. You can also mix up the fret order (1234 instead of 4321).
        |The key here is to traverse the entire neck achieving a consistent tone with impeccable timing.
      pre
        |G|------------4321-------------|
        |D|--------4321----5432---------|
        |A|----4321------------5432-----|
        |E|4321--------------------5432.|

    .exercise
      h3 Spider Walk
      pre
        |G|---41------52------63--------|
        |D|--3--2----4--3----5--4-------|
        |A|-2----3--3----4--4----5------|
        |E|1------42------53------6.....|

    .exercise
      h3 Jaco Exercise
      pre
        |G|------------------|
        |D|--78--78--87--78--|
        |A|-5--55--57--58----|
        |E|------------------|

    h2 Chords & Intervals (10 Min)
    p Identify the intervals across the neck. Hum or sing to get it into memory. Strive to finish at least 3rd, 4ths and 5ths.
    .exercise
      h3 Thirds
      p In this example, we find the major third of F across the fretboard (F-C). We have the dual benefit
        |of conditioning our fingers to find 3rds easily, and recognzing where the notes are on the neck.
      pre
        |G|--------------2(10)(14)------|
        |D|----------5373---------------|
        |A|---08(12)8-------------------|
        |E|151--------------------------|
      h3 Fourths
      p Finding the fourths for G.
      pre
        |G|--------------505------------|
        |D|----------(10)5(10)5---------|
        |A|---3(10)(16)(10)-------------|
        |E|383--------------------------|
      h3 Fifths
      p Finding the fifths for A (which is E)
      pre
        |G|--------------9029-----------|
        |D|-------27(14)7---------------|
        |A|---7070----------------------|
        |E|5(12)5-----------------------|


