$gray-light     = #eeeeee
$blue-dark = #2A4380
$orange    = #FF7F00
$blue-light = #6C8AD5


body
  font       16px/1.5 "Droid Sans", "Helvetica", "Arial", sans-serif
  background $blue-dark
  color      white
  margin     0
  padding    0 10px

h1
  text-align center
  background white
  color $blue-dark
  margin 0 -20px 20px
  padding 20px 0

h2
  margin 0

pre
  font 18px "Courier New"
  // @media screen and (min-width:768px)


.exercise
  clearfix()
  padding       10px
  margin-bottom 20px
  background    $blue-light
  border-radius 3px

